transGalactica-management-reactor/transGalactica-management-client-reactor/transGalactica-management-flux-rest/src/main/resources/META-INF/xsd/logistics/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="hangar" type="HangarDto"/>

  <xs:element name="hangarCommand" type="HangarCommand"/>

  <xs:element name="hangarDetail" type="HangarDetailDto"/>

  <xs:element name="hangars" type="HangarDtos"/>

  <xs:element name="vaisseau" type="VaisseauDto"/>

  <xs:element name="vaisseauCommand" type="VaisseauCommand"/>

  <xs:element name="vaisseauDetail" type="VaisseauDetailDto"/>

  <xs:element name="vaisseaux" type="VaisseauDtos"/>

  <xs:complexType name="HangarDtos">
    <xs:sequence>
      <xs:element name="hangars" type="HangarDto" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HangarDto">
    <xs:sequence>
      <xs:element name="localisation" type="xs:string" minOccurs="0"/>
      <xs:element name="nombreEmplacements" type="xs:int"/>
      <xs:element name="numero" type="xs:long" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HangarCommand">
    <xs:sequence>
      <xs:element name="localisation" type="xs:string" minOccurs="0"/>
      <xs:element name="nombreEmplacements" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HangarVaisseau">
    <xs:sequence>
      <xs:element name="capaciteDeFret" type="xs:long"/>
      <xs:element name="immatriculation" type="xs:string" minOccurs="0"/>
      <xs:element name="modele" type="xs:string" minOccurs="0"/>
      <xs:element name="nombreDePassagers" type="xs:short"/>
      <xs:element name="autonomie" type="xs:int"/>
      <xs:element name="vitesse" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HangarDetailDto">
    <xs:complexContent>
      <xs:extension base="HangarDto">
        <xs:sequence>
          <xs:element name="vaisseaux" type="HangarVaisseau" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="VaisseauCommand">
    <xs:sequence>
      <xs:element name="capaciteDeFret" type="xs:long"/>
      <xs:element name="immatriculation" type="xs:string" minOccurs="0"/>
      <xs:element name="modele" type="xs:string" minOccurs="0"/>
      <xs:element name="multiplicateurHyperdrive" type="xs:short" minOccurs="0"/>
      <xs:element name="nombreDePassagers" type="xs:short"/>
      <xs:element name="autonomie" type="xs:int"/>
      <xs:element name="vitesse" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VaisseauDtos">
    <xs:sequence>
      <xs:element name="vaisseaux" type="VaisseauDto" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VaisseauDto">
    <xs:sequence>
      <xs:element name="immatriculation" type="xs:string" minOccurs="0"/>
      <xs:element name="localisationHangar" type="xs:string" minOccurs="0"/>
      <xs:element name="modele" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VaisseauDetailDto">
    <xs:complexContent>
      <xs:extension base="VaisseauDto">
        <xs:sequence>
          <xs:element name="capaciteDeFret" type="xs:long"/>
          <xs:element name="multiplicateurHyperdrive" type="xs:short" minOccurs="0"/>
          <xs:element name="nombreDePassagers" type="xs:short"/>
          <xs:element name="numeroHangar" type="xs:long" minOccurs="0"/>
          <xs:element name="autonomie" type="xs:int"/>
          <xs:element name="vitesse" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

