transGalactica-management-reactor/transGalactica-management-rest/src/main/resources/META-INF/xsd/hr/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="employe" type="EmployeDto"/>

  <xs:element name="employeCommand" nillable="true" type="xs:anyType"/>

  <xs:element name="employeDetail" nillable="true" type="xs:anyType"/>

  <xs:element name="employeTypes" type="EmployeTypeDtos"/>

  <xs:element name="employes" type="EmployeDtos"/>

  <xs:element name="mecanicienSpecialites" type="MecanicienSpecialiteDtos"/>

  <xs:complexType name="EmployeDtos">
    <xs:sequence>
      <xs:element name="employes" type="EmployeDto" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EmployeDto">
    <xs:sequence>
      <xs:element name="dateEmbauche" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="matricule" type="xs:long" minOccurs="0"/>
      <xs:element name="nom" type="xs:string" minOccurs="0"/>
      <xs:element name="typeEmploye" type="employeType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EmployeVaisseau">
    <xs:sequence>
      <xs:element name="capaciteDeFret" type="xs:long"/>
      <xs:element name="immatriculation" type="xs:string" minOccurs="0"/>
      <xs:element name="modele" type="xs:string" minOccurs="0"/>
      <xs:element name="nombreDePassagers" type="xs:short"/>
      <xs:element name="autonomie" type="xs:int"/>
      <xs:element name="vitesse" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EmployeCommand">
    <xs:sequence>
      <xs:element name="dateEmbauche" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="nom" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PiloteCommand">
    <xs:complexContent>
      <xs:extension base="EmployeCommand">
        <xs:sequence>
          <xs:element name="nombreHeuresVol" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="MecanicienDetailDto">
    <xs:complexContent>
      <xs:extension base="EmployeDto">
        <xs:sequence>
          <xs:element name="specialites" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="vaisseaux" type="EmployeVaisseau" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PiloteDetailDto">
    <xs:complexContent>
      <xs:extension base="EmployeDto">
        <xs:sequence>
          <xs:element name="nombreHeuresVol" type="xs:int"/>
          <xs:element name="vaisseaux" type="EmployeVaisseau" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EmployeTypeDtos">
    <xs:sequence>
      <xs:element name="employeTypes" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MecanicienSpecialiteDtos">
    <xs:sequence>
      <xs:element name="mecanicienSpecialites" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="employeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PILOTE"/>
      <xs:enumeration value="MECANICIEN"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

