transGalactica-info-reactor/transGalactica-info-flux-motd/src/main/resources/META-INF/xsd/motd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="motd">
		<xs:complexType>
			<xs:sequence>
				<xs:element
					id="messages"
					ref="message"
					maxOccurs="unbounded"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="message">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:string" maxOccurs="1"
					minOccurs="1" />
				<xs:element name="titre" type="xs:string" maxOccurs="1"
					minOccurs="0" />
				<xs:element name="contenu" type="xs:string"
					maxOccurs="1" minOccurs="1" />
				<xs:element name="datePublication" type="xs:dateTime"
					maxOccurs="1" minOccurs="0" />
				<xs:element name="image" type="image" maxOccurs="1"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="image">
		<xs:attribute
			name="url"
			type="xs:anyURI"
			use="required" />
		<xs:attribute
			name="texteAlternatif"
			type="xs:string"
			use="optional" />
	</xs:complexType>

</xs:schema>